<div class="product_cntainer">
  <%# <h2 id="product_top">商品一覧</h2> %>

  <div class="category_product_search_container">
    <div class="category_navigation">
      <a href="#category1", id="category">野菜</a>
      <a href="#category2", id="category">穀物</a>
      <a href="#category3", id="category">水産物</a>
      <a href="#category4", id="category">肉</a>
      <a href="#category5", id="category">卵・乳製品・大豆製品</a>
      <a href="#category6", id="category">果物</a>
      <a href="#category7", id="category">粉類</a>
      <a href="#category8", id="category">その他</a>
      <br>
      <%= link_to "商品を追加する", new_product_path(store_google_place_id: @google_place_id), id:"category", class:"create_product" %>
    </div>
    <div class="product_search_container">
      <%= form_tag(store_path(@google_place_id), method: :get, id: 'product-search-form') do %>
        <%= text_field_tag :search, params[:search], placeholder: '商品名を検索', id: 'product-search-box' %>
        <%= submit_tag '検索', id: 'product-search-button' %>
      <% end %>
      <div id="no-products-message" style="display: none; color: red;"></div>
    </div>
  </div>

  <div id="products">
    <% @categories.each_with_index do |(category_name, products), index| %>
      <h3 id="category<%= index + 1 %>"><%= category_name %></h3>
      <div class="category_items">
        <table class="test_category<%= index + 1 %>">
          <thead>
            <tr class="each_item">
              <th class="center_th">商品名</th>
              <th class="center_th">最安値（全国）</th>
              <th class="center_th"></th>
              <th class="center_th"></th>
            </tr>
          </thead>
          <tbody>
            <% products.each do |product| %>
            <tr class="each_item" id="product-<%= product.id %>">
              <td class="common_td"><%= product.name %></td>
              <% if product.prices.present? %>
                <td class="common_td"><%= product.prices.min_price.price_value %></td>
              <% else %>
                <td class="common_td">価格情報なし</td>
              <% end %>
              <td class="common_td"><%= link_to "商品価格を確認する", store_prices_path(store_google_place_id: @google_place_id, product_id: product.id) %></td>
              <td class="common_td"><%= link_to "商品価格を投稿する", new_store_price_path(store_google_place_id: @google_place_id, product_id: product.id) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <a href="#product_top" class="back_link">ページトップに戻る</a>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag 'products' %>
