<!DOCTYPE html>
<html>
  <head>
    <title>GroceryMap</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <%= render "shared/session" %>
      <% else %>
        <%= render "shared/register" %>
      <% end %>
    </header>
    <section class="main_container">
      <%= render "shared/flash" %>
      <%= yield %>
    </section>
    <footer>
      <h1><%= link_to image_tag("GroceryMap_logo2.jpg", class:"logo"), :root %></h1>
    </footer>
  </body>
</html>
